img {
  display: block;
}

img.heroImage {
  width: 100%;
}

body.page-template-default article.type-product img,
body.category article.type-product img {
  width: 40%;
  max-width: 512px;
  display: inline;
  float: left;
}

body.single-product article.type-product img {
  width: 100%;
  margin: auto;
  max-width: 512px;
  display: block;
  float: none;

  @include largeTablet {
    width: 40%;
    margin: 0;
    display: inline;
    float: left;
  }
}
