body {
  min-height: 100%;
  position: relative;
}

/* Global hide class for use in jquery and plugins */
.hide {
  display: none;
}

header.siteHeader {
  width: 100%;
  height: 100px;
  background-color: $black;
  color: $white;
  position: relative;
}

nav.mobileTabNav {
  width: 100%;
  height: 100%;
  background-color: $transBlack;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;

  @include desktop {
    position: static;
  }
}

nav.mobileTabNav ul {
  margin: 5rem 2rem 0 2rem;
}

nav.mobileTabNav li {
  margin-top: 8vw;
  font-weight: $lightest;

  @include tablet {
    margin-top: 2.4rem;
  }
}

nav.mobileTabNav {
  @include desktop {
    visibility: hidden;
    display: none;
  }
}

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

.menuCheckbox ~ nav.mobileTabNav { transition: left .666s ease .1s }

.menuCheckbox:checked ~ nav.mobileTabNav { left: 0;}

nav.desktopNav {
  display: none;
  visibility: hidden;

  @include desktop {
    display: block;
    visibility: visible;
    position: absolute;
    top: 50%;
    right: 6rem;
  }
}

nav.desktopNav ul li {
    display: inline;
}

body.category div.categoryTitleContainer {
  text-align: center;
  border-bottom: 1px solid $black;
  padding: 5vw 0 4vw 0;

  @include tablet {
    padding: 1.4rem 0 1.2rem 0;
  }
}

main {
  width: 95%;
  margin: auto;
  margin-bottom: 20vw;

  @include tablet {
    margin-bottom: 10rem;
  }

  @include desktop {
    width: 80%;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 5rem;
    float: right;
    border-left: 1px solid $black;
  }
}

aside.desktopCatListContainer {
  display: none;

  @include desktop{
    display: block;
    width: 20%;
    float: left;
  }
}

ul.desktopCatList {
  display: none;

  @include desktop{
    display: block;
    width: 100%;
    padding: 1rem;
    float: left;
  }
}

article.type-product {
  max-width: 560px;
  margin: auto;
  margin-top: 16vw;

  @include tablet {
    margin-top: 4rem;
  }

  @include largeTablet {
    width: 50%;
    float: left;
  }
}

body.home article.type-product div.productCopy,
body.page-template-default article.type-product div.productCopy,
body.category article.type-product div.productCopy {
  width: 60%;
  display: inline;
  float: right;
  padding-left: 1rem;
  position: relative;
}

div.featherlight-inner div.lightboxCopyContainer {
  @include largeTablet {
    width: 50%;
    float: right;
    text-align: right;
  }
}

div.featherlight-inner div.lightboxShoppingUI {
  margin-top: 16vw;
  margin-bottom: 4vw;

  @include tablet {
    margin-top: 4rem;
    margin-bottom: 1rem;
    float: right;
  }
}

button.ctaButton {
  width: 50%;
  background-color: $red;
  color: $white;
  text-align: center;
  margin-top: 8vw;
  padding: 5vw 4vw 4vw 4vw;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 4vw;
  font-family: $font;
  font-weight: $lighter;
  cursor: pointer;

  @include tablet {
    font-size: 1rem;
    padding: 1.5rem 1rem 1rem 1rem;
    width: 230px;
    margin-top: 3rem;
  }
}

div.featherlight-inner button.ctaButton {
  width: 100%;
  max-width: 400px;
  margin-top: 1vw;
  font-size: 5vw;
  float: right;

  @include tablet {
    margin-top: .25rem;
    font-size: 1.2em;
  }
}



body.single-product article.type-product {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  margin-top: 16vw;

  @include tablet {
    margin-top: 4rem;
  }
}

body.single-product div.productCopy {
  width: 80%;
  margin: auto;
  display: block;
  float: none;
  padding: 0;
  position: relative;
  text-align: right;
  margin-top: 16vw;

  @include tablet {
    margin-top: 4rem;
  }

  @include largeTablet {
    float: right;
    width: 50%;
    margin-top: 0;
    padding-right: 5%;
  }
}

div.qtyCounter {
  margin: 4vw 0;
  position: relative;
  width: 72.5%;
  float: right;

  @include tablet {
    margin: 1rem 0;
  }
}

div.featherlight-inner div.qtyCounter {
  width: 62%;
  text-align: right;
}

div.qtyCounter button {
  font-size: 8vw;
  padding: 2vw 4vw;
  background-color: $grey;
  color: $black;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  @include tablet {
    font-size: 2em;
    padding: .5rem 1rem;
  }
}

div.qtyCounter input {
  display: inline;
  font-size: 8vw;
  font-weight: $lighter;
  width: 16vw;
  padding: 1.5vw 5vw 1.5vw 5vw;
  text-align: center;
  border: 1px solid $black;

  @include tablet {
    font-size: 2em;
    width: 4rem;
    padding: .4rem 1.25rem .4rem 1.25rem;
  }
}

body.single-product button.ctaButton {
  width: 90%;
  margin-top: 4vw;
  font-size: 6vw;
  font-weight: 700;

  @include tablet {
    margin-top: 1rem;
    font-size: 1.5em;
    width: 300px;
  }
}

div.addlInfoContainer {
  margin-top: 20vw;
  clear: both;

  @include tablet {
    margin-top: 4rem;
  }

  @include largeTablet {
    padding-top: 4rem;
  }

  @include desktop {
    margin-bottom: 5rem;
  }
}

div.addlInfo {
  margin-top: 4vw;
  border-bottom: 1px solid $black;
  padding-bottom: 2vw;
  cursor: pointer;

  @include tablet {
    margin-top: 1rem;
    padding-bottom: .5rem;
  }
}

div.descriptionContainer, div.specificationsContainer {
  display: none;
}

div.descriptionContainer, div.specificationsContainer p {
  margin: 4vw 0;
  font-size: 4vw;
}







footer {
  width: 100%;
  height: 50vw;
  background-color: $black;
  clear: both;

  @include tablet {
    height: 16rem;
  }
}

nav.footNav {
  width: 50%;
  float: left;
}

nav.footNav ul {
  margin: 8vw 0 0 4vw;

  @include tablet {
    margin: 2rem 0 0 2rem;
  }
}

nav.footNav ul li {
  margin-bottom: 4vw;

  @include tablet {
    margin-bottom: 1rem;
  }
}

div.footStoreInfo {
  width: 50%;
  float: right;
  text-align: right;
  padding: 8vw 4vw 0 0;

  @include tablet {
    padding: 2rem 2rem 0 0;
  }
}
