header.siteHeader {
  width: 100%;
  height: 100px;
  background-color: $black;
  color: $white;
  position: relative;
}

nav.topNav {
  width: 100%;
  height: 100%;
  background-color: $black;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
}

nav.topNav ul {
  margin: 5rem 2rem 0 2rem;
}

nav.topNav li {
  font-size: 8vw;
  margin-top: 8vw;
}

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

.menuCheckbox ~ nav.topNav { transition: left .666s ease .1s }

.menuCheckbox:checked ~ nav.topNav { left: 0;}
