body {
  min-height: 100%;
  position: relative;
}

header.siteHeader {
  width: 100%;
  height: 100px;
  background-color: $black;
  color: $white;
  position: relative;
}

nav.topNav {
  width: 100%;
  height: 100%;
  background-color: $transBlack;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
}

nav.topNav ul {
  margin: 5rem 2rem 0 2rem;
}

nav.topNav li {
  font-size: 8vw;
  margin-top: 8vw;
  font-weight: $lightest;
}

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

.menuCheckbox ~ nav.topNav { transition: left .666s ease .1s }

.menuCheckbox:checked ~ nav.topNav { left: 0;}

main {
  width: 95%;
  margin: auto;
  padding-bottom: 80vw;
}

article.type-product {
  margin-top: 16vw;
}

body.page-template-default article.type-product img,
body.category article.type-product img {
  width: 40%;
  display: inline;
  float: left;
}

body.page-template-default article.type-product div.productCopy,
body.category article.type-product div.productCopy {
  width: 60%;
  display: inline;
  float: right;
  padding-left: 1rem;
  position: relative;
}

button.ctaButton {
  width: 90%;
  background-color: $red;
  color: $white;
  text-align: center;
  margin-top: 8vw;
  padding: 4vw;
  padding-top: 5vw;
  border: none;
  border-radius: 5px;
  font-size: 4vw;
  font-family: $font;
  font-weight: $lighter;
  cursor: pointer;
}

body.single-product article.type-product img {
  width: 100%;
  display: block;
  float: none;
}

body.single-product div.productCopy {
  width: 80%;
  margin: auto;
  display: block;
  float: none;
  padding: 0;
  position: relative;
  text-align: right;
  margin-top: 16vw;
}

div.qtyCounter {
  margin: 4vw 0;
  position: relative;
  width: 72.5%;
  float: right;
}

div.qtyCounter p {
  position: absolute;
  top: 0;
  font-size: 4.8vw;
  font-weight: $lightest;
}

div.qtyCounter button {
  font-size: 8vw;
  padding: 2vw 4vw;
  background-color: $grey;
  color: $black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div.qtyCounter input {
  display: inline;
  font-size: 8vw;
  font-weight: $lighter;
  width: 16vw;
  padding: 1.5vw 5vw 1.5vw 5vw;
  text-align: center;
  border: 1px solid $black;
}

body.single-product button.ctaButton {
  margin-top: 4vw;
  font-size: 6vw;
  font-weight: 700;
}

div.addlInfo {
  margin-top: 4vw;
  border-bottom: 1px solid $black;
  padding-bottom: 2vw;
}

div.addlInfo:nth-of-type(1) {
  margin-top: 16vw;
}



footer {
  width: 100%;
  height: 50vw;
  background-color: $black;
  margin-top: 16vw;
  position: absolute;
  bottom: 0;
}

nav.footNav {
  width: 50%;
  float: left;
}

nav.footNav ul {
  margin: 8vw 0 0 4vw;
}

nav.footNav ul li {
  margin-bottom: 4vw;
}

div.footStoreInfo {
  width: 50%;
  float: right;
  text-align: right;
  padding: 8vw 4vw 0 0;
}
