//* Type *//
$font: 'Josefin Sans', sans-serif;

//* colors *//
$black: #222;
$white: #fff;

//*Media Queries*//
$tablet-width: "screen and (min-width: 480px)";
$desktop-width: "screen and (min-width: 960px)";

//*Mixins*//
@mixin tablet {
  @media #{$tablet-width} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop-width} {
    @content;
  }
}
